html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: $outline;
}

input[type='text'] {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1875;
  color: $text;
  background-color: $bg;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 80px;
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-top: 100px;
}

.page-title,
.title {
  margin: 0 0 25px 0;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.125;
}

.page-title {
  font-weight: 600;
}

.fancybox-slide--html {
  padding: 6px 20px;
}

.box-text {
  margin: 0;
  font-weight: 500;
  font-size: $font-box;
  line-height: 1.333;
}

.burger-btn {
  position: relative;
  width: 29px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  outline-offset: 4px;
  caret-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $text;
    border-radius: 1px;
    transition: all 0.4s;
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  .burger-btn__center {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $text;
    border-radius: 1px;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.burger-btn--close {
  .burger-btn__center {
    opacity: 0;
  }

  &::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  &::after {
    bottom: 9px;
    transform: rotate(45deg);
  }
}

.nav-btn {
  position: relative;
  padding: 0 27px;
  display: block;
  flex-shrink: 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  color: $text;
  text-align: center;
  background-color: $bg;
  border: solid $headerbtn-border transparent;
  border-radius: 20px;
  background-clip: padding-box;
  box-shadow: $headerbtn-shadow;
  cursor: pointer;
  transition: $transition-btn;
  caret-color: transparent;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -$headerbtn-border;
    border-radius: inherit;
    background: $headerbtn-gradient;
    z-index: -1;
  }

  &:focus {
    outline: $outline-none;
    color: $text-light;
    background: $headerbtn-gradient;
  }
}

.form-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;
}

.form-btn-wrapper__text {
  max-width: 165px;
  font-weight: 400;
  line-height: 1.4rem;
  color: $text-copy;

  a {
    color: inherit;
  }
}

.form-btn {
  position: relative;
  padding: 0;
  height: 70px;
  display: block;
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.392;
  color: $text;
  background-color: transparent;
  border: 1px solid $text;
  border-radius: 10px;
  cursor: pointer;
}

.form-btn__text {
  padding: 0 105px 0 35px;
  text-align: center;
}

.form-btn__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: $bg-dark;
  border-left: inherit;
  border-radius: inherit;
}

.form-btn__icon::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 10px;
  display: block;
  width: 50px;
  height: 55px;
  background-image: url('../images/sprite.svg#arrow-right-icon');
  @include svg-icon;
}

.buy-btn {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 8px 24px;
  font-weight: 400;
  line-height: 1.1875;
  color: $text-light;
  text-align: center;
  background-color: transparent;
  box-shadow: $headerbtn-shadow;
  //background-position: 0% 100%;
  border: 1px solid $accent-light;
  border-radius: 30px;
  cursor: pointer;
  transition: $transition-btn;
  z-index: 1;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    z-index: -1;
    transition: $transition-btn;
  }

  &::before {
    background-color: $bg;
  }

  &::after {
    background: $headerbtn-gradient;
    opacity: 1;
  }
}

.buy-btn:focus {
  color: $text;
  outline: none;
  &::after {
    opacity: 0;
  }
}

.box-link {
  display: inline-block;
  padding: 8px 24px 8px 23px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid $text;
  border-radius: $radius;
  box-shadow: $search_shadow;
  transition: $transition-btn;

  &:focus {
    background-color: $menu-hover;
    outline: $outline-none;
  }
}

.filter-tags__form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  .filter-tags__reset,
  .filter-tags__checkbox {
    padding: 6px 30px;
    display: inline-block;
    font-weight: 500;
    line-height: 1.1875;
    background-color: $bg-light;
    border: 1px solid $text;
    border-radius: 10px;
    box-shadow: $search_shadow;
    transition: $transition-btn;
    caret-color: transparent;
    cursor: pointer;
  }

  .filter-tags__reset:disabled,
  .filter-tags__input:checked ~ .filter-tags__checkbox {
    font-weight: 600;
    color: $text-light;
    border: 1px solid $bg-filter-checked;
    background-color: $bg-filter-checked;
  }

  .filter-tags__input:checked ~ .filter-tags__checkbox {
    position: relative;
    padding-right: 41px;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 12px;
      width: 11px;
      height: 11px;
      display: block;
      background-image: url('../images/sprite.svg#filter-close-icon');
      @include svg-icon;
      transform: translateY(-5px);
    }
  }

 .filter-tags__input:focus ~ .filter-tags__checkbox {
    outline: $outline;
  }
}

.slider__title {
  padding-right: 130px;
}

.slider__box {
  position: relative;
}

.slider__btn-prev,
.slider__btn-next {
  position: absolute;
  top: -68px;
  padding: 0;
  width: 43px;
  height: 43px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  transition: $transition-btn;
  cursor: pointer;
  z-index: 2;

  &.swiper-button-disabled {
    opacity: 0.3;
  }
}

.slider__btn-prev {
  right: 74px;
  background-image: url('../images/sprite.svg#prev-icon');
}

.slider__btn-next {
  right: 0;
  background-image: url('../images/sprite.svg#next-icon');
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.popup {
  width: 1160px;
  padding: 60px;
  display: none;
  background-color: $bg-light;
  border-radius: $radius;
}

.popup.fancybox-content {
  cursor: default;
}

.popup-close-btn {
  position: absolute;
  padding: 0;
  width: 64px;
  height: 64px;
  top: 44px;
  right: 44px;
  background-color: $bg-popup-close;
  border: none;
  border-radius: 50%;
  transition: $transition-btn;
  cursor: pointer;

  &:focus {
    background-color: $accent-dark;
    outline: $outline-none;
  }

  &::before {
    position: absolute;
    content: '';
    top: 16px;
    left: 16px;
    width: 32px;
    height: 32px;
    background-image: url('../images/sprite.svg#popup-close-icon');
    @include svg-icon;
  }
}

body._pc {
  .nav-btn:hover {
    background-color: transparent;
    color: $text-light;
  }

  .form-btn:hover {
    .form-btn__icon::after {
      animation: arrow-right 1.5s linear infinite;
    }
  }

  .box-link:hover {
    color: $text-light;
    border: 1px solid $bg-filter-checked;
    background-color: $bg-filter-checked;
  }

  .popup-close-btn:hover {
    background-color: $accent-dark;
  }

  .slider__btn-prev:hover:not(.swiper-button-disabled) {
    background-image: url('../images/sprite.svg#prev-icon-hover');
  }

  .slider__btn-next:hover:not(.swiper-button-disabled) {
    background-image: url('../images/sprite.svg#next-icon-hover');
  }

  .buy-btn:hover {
    color: $text;

    &::after {
      opacity: 0;
    }
  }
}

@keyframes arrow-right {
  0% {
    left: 10px;
  }
  25% {
    left: 15px;
  }
  75% {
    left: 5px;
  }
  100% {
    left: 10px;
  }
}
