html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a:focus,
button:focus,
input:focus {
  outline: $outline;
}

input[type='text'] {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.1875;
  letter-spacing: 0;
  color: $text;
  background-color: $bg;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 80px;
  flex-grow: 1;
  min-height: 2000px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin-top: 100px;
}

.page-title,
.title {
  margin: 0 0 25px 0;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 1.125;
}

.page-title {
  font-weight: 600;
}

.burger-btn {
  position: relative;
  width: 29px;
  height: 19px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.4s;
  outline-offset: 4px;
  caret-color: transparent;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $text;
    border-radius: 1px;
    transition: all 0.4s;
  }

  &::before {
    top: 0;
  }
  &::after {
    bottom: 0;
  }

  .burger-btn__center {
    display: block;
    width: 100%;
    height: 1px;
    background-color: $text;
    border-radius: 1px;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.burger-btn--close {
  .burger-btn__center {
    opacity: 0;
  }

  &::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  &::after {
    bottom: 9px;
    transform: rotate(45deg);
  }
}

.nav-btn {
  position: relative;
  padding: 0 27px;
  display: block;
  flex-shrink: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: $text;
  text-align: center;
  background-color: $bg;
  border: solid $headerbtn-border transparent;
  border-radius: 20px;
  background-clip: padding-box;
  box-shadow: $headerbtn-shadow;
  cursor: pointer;
  transition: $transition-btn;
  caret-color: transparent;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: -$headerbtn-border;
    border-radius: inherit;
    background: $headerbtn-gradient;
    z-index: -1;
  }

  &:focus {
    outline: 1px solid transparent;
    background: $headerbtn-gradient;
  }
}

.form-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 19px;
}

.form-btn-wrapper__text {
  max-width: 165px;
  font-weight: 400;
  line-height: 1.4rem;
  color: $text-copy;

  a {
    color: inherit;
  }
}


.form-btn {
  position: relative;
  padding: 0;
  height: 70px;
  display: block;
  font-family: 'DMSans', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.392;
  color: $text;
  background-color: transparent;
  border: 1px solid $text;
  border-radius: 10px;
  cursor: pointer;
}

.form-btn__text {
  padding: 0 105px 0 35px;
  text-align: center;
}

.form-btn__icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 68px;
  background-color: $bg-dark;
  border-left: inherit;
  border-radius: inherit;
}
.form-btn__icon::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 10px;
  display: block;
  width: 50px;
  height: 55px;
  background-image: url('../images/sprite.svg#arrow-right-icon');
}

body._pc {
  .nav-btn:hover {
    background-color: transparent;
    color: #fff;
  }

  .form-btn:hover {
    .form-btn__icon::after {
      animation: arrow-right 1.5s linear infinite;
    }
  }
}

@keyframes arrow-right {
  0% {
    left: 10px;
  }
  25% {
    left: 15px;
  }
  75% {
    left: 5px;
  }
  100% {
    left: 10px;
  }
}
