@media (max-width: 1024px) {
  .main {
    padding-top: 140px;
  }

  .nav-btn {
    margin-left: 0;
    margin-right: auto;
  }

  .form-btn-wrapper {
    flex-wrap: wrap;
  }
  .form-btn-wrapper__text {
    max-width: 269px;
  }

  .cards-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 864px) {
  .form-btn-wrapper {
    flex-wrap: wrap;
  }

  .form-btn-wrapper__text {
    max-width: 165px;
  }
}

@media (max-width: 700px) {
  .form-btn-wrapper__text {
    max-width: none;
  }
}

@media (max-width: 568px) {
  .main {
    padding-top: 190px;
  }

  .page-title,
  .title {
    font-size: 2.6rem;
  }

  .slider__title {
    margin-bottom: 63px;
    padding: 0;
  }

  .slider__btn-prev {
    top: -53px;
    left: 0;
    right: auto;
  }

  .slider__btn-next {
    top: -53px;
  }

  .box-text {
    font-size: $font-box-small;
  }

  .popup-close-btn {
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;

    &::before {
      top: 13px;
      left: 13px;
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 400px) {
  .section {
    margin-top: 80px;
  }

  .form-btn {
    font-size: 2rem;
  }

  .form-btn__text {
    padding: 0 90px 0 20px;
  }

  .box-text {
    font-size: 1.6rem;
  }

  .box-link {
    min-width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: $font-box-small;
  }

  .buy-btn {
    min-width: 100%;
    margin-bottom: 10px;
    font-size: $font-box-small;
  }
}
