$text: #262626;
$text-light: #fff;
$title: #262626;
$text-copy: #848484;
$breadcrumbs-active: #9b9b9b;
$link: #4da9ff;

$accent-light: #f6b569;
$accent-dark: #718cd2;

$bg: #fff;
$bg-light: #f0f0f0;
$bg-dark: #cdcdcd;
$bg-cart: #718cd2;
$bg-card-text: #fff;
$bg-popup-close: #d9d9d9;
$bg-filter-checked:#b9b9b9;


$placeholder: #bcbcbc;
$outline:  2px solid #718cd2;
$outline-light: 2px solid #f6b569;
$outline-none: 1px solid transparent;


$header-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
$headerbtn-border: 1px;
/*$header-accent: #F6B569;*/
$headerbtn-gradient: linear-gradient(#ffc978, #f6b569);
$headerbtn-shadow: 0 1px 5px rgba(69, 69, 69, 0.05);
$menu-hover: rgba(0, 0, 0, 0.05);
$search_shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 5%);
$faq_shadow: 0px 1px 5px 0px rgba(0, 0, 0, 5%);

$transition-btn: all 0.3s ease;
$transition-link: color 0.3s ease;

$radius: 30px;

$gap: 50px;
$gap-mobile: 30px;

$font-box: 2.4rem;
$font-box-small: 2rem;

$padding-side-mobile: 30px;