@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

@import '../module/_header/_header';
@import '../module/_breadcrumbs/_breadcrumbs';
@import '../module/_contact-form/_contact-form';
@import '../module/_product-card/_product-card';
@import '../module/_contact-form-popup/_contact-form-popup';
@import '../module/_footer/_footer';

.courses-best__inner {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.courses-best__item {
  padding: 20px 30px 24px;
  flex-basis: 50%;
  background-color: $bg-light;
  border-radius: $radius;
}
.courses-best__content {
  position: relative;
  padding-right: 130px;
}

.courses-best__title {
  margin: 20px 0 12px;
}

.courses-best__img {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.courses-best__link {
  margin-left: 10px;
}

.courses-favorite,
.courses-shop {
  margin-top: 50px;
}

.courses-favorite__title,
.courses-shop__title {
  margin-bottom: 40px;
}

.courses-shop {
  .filter-tags__form {
    margin-bottom: 50px;
  }
}

@media (max-width: 864px) {
  .courses-best__inner {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 568px) {
  .courses-best__item {
    padding: 20px 20px 40px;
  }

  .courses-best__content {
    padding: 0;
  }

  .courses-best__img {
    position: static;
    margin: 20px auto 0;
    transform: translateY(0);
  }
}

@media (max-width: 400px) {
  .courses-best__link {
    margin-left: 0;
  }
}

@import 'media';