@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

@import '../module/_header/_header';
@import '../module/_breadcrumbs/_breadcrumbs';
@import '../module/_banner/_banner';
@import '../module/_reviews-popup/_reviews-popup';
@import '../module/_contact-form/_contact-form';
@import '../module/_footer/_footer';

.reviews-survey {
  margin-bottom: 50px;
}

.reviews-survey__title,
.reviews-survey__filter {
  margin-bottom: 40px;
}

.reviews-survey__slider {
  margin-bottom: 60px;
}

.reviews-survey__slide {
  box-sizing: border-box;
  padding: 30px 30px 45px;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
  border-radius: $radius;
}

.reviews-survey__author {
  margin-bottom: 20px;
  display: block;
  font-size: 2.4rem;
  line-height: 1.167;
}

.reviews-survey__blockquote {
  margin: 0 0 29px;

  p {
    margin: 10px;
  }
}

.reviews-survey__slide-link {
  margin-top: auto;
  color: inherit;
  transition: $transition-btn;
}

.reviews-survey__btn-prev,
.reviews-survey__btn-next {
  top: -90px;
}

.reviews-survey__btn-wrapper {
  text-align: center;
}

.reviews-survey__popup-title {
  padding-right: 30px;
  span {
    margin-top: 10px;
    display: block;
    font-weight: 500;
    font-size: $font-box;
  }
}

.reviews-survey__text-wrapper p {
  margin: 0;
  margin-top: 10px;
}

body._pc {
  .reviews-survey__slide-link:hover {
    color: $accent-light;
    text-decoration: none;
  }
}

@media (max-width: 568px) {
  .reviews-survey__author {
    font-size: 2rem;
  }

 .reviews-survey__popup-title span {
    font-size: $font-box-small;
  }
}

@import 'media';