@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';

@import '../module/_header/_header';
@import '../module/_breadcrumbs/_breadcrumbs';
@import '../module/_reviews-popup/_reviews-popup';
@import '../module/_contact-form/_contact-form';
@import '../module/_product-card/_product-card';
@import '../module/_banner/_banner';
@import '../module/_team-popup/_team-popup';
@import '../module/_contact-form-popup/_contact-form-popup';
@import '../module/_footer/_footer';

/*********** index **********/

/*** preview ***/
.preview {
  padding-top: 50px;
}

.preview__inner,
.home-about__inner {
  display: flex;
  align-items: center;
  gap: $gap;
}

.preview__content,
.home-about__content {
  max-width: 60.345%;
  background-color: $bg-light;
  border-radius: $radius;
}

.preview__content {
  padding: 110px 60px 100px 60px;
}

.preview__title {
  margin-bottom: 29px;
  line-height: 1.22917;
}

.preview__img,
.home-about__img,
.about-preview__img {
  width: 100%;
  border-radius: $radius;
}

.preview__text {
  margin-bottom: 41px;
}

.preview__form-btn-wrapper {
  gap: 21px;
}

.preview__btn__text {
  max-width: 230px;
}

/*** /preview ***/

/*** offer ***/
.offer-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: auto 60.345%;
  grid-template-rows: repeat(2, 1fr);
  gap: $gap;
  list-style: none;
}

.offer__item {
  position: relative;
  min-height: 30rem;
  padding: 50px 50px 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-light;
  border-radius: $radius;
  text-align: left;
  transition: $transition-btn;

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(odd):nth-child(n + 3) {
    padding: 40px 50px 37px 116px;
    text-align: right;
  }
}

.offer__item-main {
  min-width: auto;
  grid-area: 1 / 1 / 3 / 1;
}

.offer__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: $radius;
}

.offer__title {
  margin: 0 0 50px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 1.111;
}
/*** /offer ***/

/*** info ***/
.info {
  margin-bottom: 100px;
}

.info__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 32px;
  list-style: none;
}

.info__item {
  position: relative;
  flex-basis: 266px;
  height: 335px;
  display: flex;
  align-items: flex-end;
}

.info__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: $radius;
}

.info__text {
  margin: 0;
  padding: 24px 20px;
  font-weight: 400;
}
/*** /info ***/

/*** home-about ***/
.home-about__content {
  padding: 60px;
}

.home-about__title {
  margin-bottom: 39px;
}

.home-about__text {
  margin-bottom: 41px;
}

.home-about__link {
  padding: 14px 46px 15px;
  font-size: 2.5rem;
  line-height: 1.16;
}
/*** /home-about ***/

/*** tarif ***/
.tarif__list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.tarif__item {
  padding: 27px 32px 30px 31px;
  min-height: 100%;
  flex-basis: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-light;
  border-radius: $radius;
  z-index: 1;
}

.tarif__title {
  margin: 0 auto 23px 0;
  padding: 7px 22px 8px;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.143;
  background-color: $bg-card-text;
  border-radius: 1.6rem;
}

.tarif__box-img {
  position: relative;
  margin-bottom: 23px;
  height: 0;
  padding-top: 58%;
}

.tarif__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.tarif__text {
  margin: 0 0 66px 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.15;
}

.tarif__privilege-list {
  margin: auto 0 33px 0;
  padding: 0;
  list-style: none;
}

.tarif__privilege-item {
  position: relative;
  margin-bottom: 16px;
  padding-left: 33px;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.15;

  &::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/sprite.svg#plus-icon');
    @include svg-icon;
  }
}

.tarif__price {
  margin-bottom: 41px;
  font-family: 'Comfortaa', sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.125;
  text-align: center;
}

.tarif__link,
.tarif__btn {
  padding-top: 17px;
  padding-bottom: 16px;
  font-size: 2.4rem;
  line-height: 1.167;
}

.tarif__btn {
  position: relative;
  margin-bottom: 30px;
  background-color: $bg;
  border: 1px solid $bg-dark;
  border-radius: $radius;
  box-shadow: $search_shadow;
  cursor: pointer;
  transition: $transition-btn;
  caret-color: transparent;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: inherit;
    background: $headerbtn-gradient;
    z-index: -1;
  }

  &:focus {
    outline: $outline-none;
    color: $text-light;
    background: $headerbtn-gradient;
  }
}
/*** /tarif ***/

/*** reviews ***/
.reviews__slider-box {
  margin-bottom: 25px;
}

.reviews__slider-wrapper {
  align-items: stretch;
}

.reviews__slide {
  box-sizing: border-box;
  padding: 40px 40px 70px;
  width: fit-content;
  height: auto;
  background-color: $bg-light;
  border-radius: $radius;
}

.reviews__author {
  margin-bottom: 31px;
  display: block;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.125;
}

.reviews__blockquote {
  margin: 0;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.6;
}

.reviews__btn-wrapper {
  text-align: center;
}
/*** /reviews ***/

.faq {
  margin-bottom: 100px;
  font-size: $font-box;
}

.faq__tab {
  background-color: $bg;
  border: 1px solid $bg-dark;
  border-radius: 10px;
  box-shadow: $faq_shadow;
}

.faq__tab + .faq__tab {
  margin-top: 20px;
}

.faq__tab-title {
  position: relative;
  padding: 22px 100px 22px 40px;
  display: block;
  background-color: $bg-light;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 30px;
    width: 42px;
    height: 42px;
    background-color: $bg;
    border-radius: 50%;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 40px;
    height: 10px;
    width: 22px;
    background-image: url('../images/sprite.svg#chevron-down');
    @include svg-icon;
    transform-origin: 50%;
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }
}

.faq__tab-content {
  margin: 0;
  padding: 0 40px;
  max-height: 0;
  overflow: hidden;
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: all 0.5s ease-in-out;
}

.faq__tab-input {
  &:checked + label::after {
    transform: rotate(180deg) translateY(50%);
  }

  &:focus + label {
    outline: $outline;
  }
}

.faq__tab-input:checked ~ .faq__tab-content {
  padding: 40px;
  max-height: 2000px;
  transform: scaleY(1);
}
/*********** /index **********/

/*********** about **********/
.about-preview__inner {
  display: grid;
  grid-template-columns: 60.345% 37.93%;
  gap: 20px;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.statistics__item {
  padding: 40px;
  background-color: $bg-light;
  border-radius: $radius;
}
.statistics__num {
  font-family: 'DaysOne', sans-serif;
  font-size: 6.4rem;
  line-height: 1;
  color: $bg-dark;
}
.statistics__text {
  margin-top: -3px;
  display: block;
  font-weight: 400;
  font-size: 3.2rem;
}
.about-preview__box-img {
  display: flex;
  align-items: center;
  border-radius: $radius;
}

.founder__item {
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.founder__box-img {
  flex-shrink: 0;
  width: 260px;
  border-radius: $radius;
  line-height: 0;
}

.founder__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius;
}

.founder__info {
  padding: 40px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg-light;
  border-radius: $radius;
}

.founder__info-title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 3.2rem;
}

.founder__info-subtitle {
  margin-bottom: 20px;
  max-width: 270px;
  display: inline-block;
}

.founder__info-text {
  margin-bottom: 40px;
  p {
    margin: 0;
    margin-bottom: 10px;
  }
}

.founder__info-link {
  margin-right: auto;
}

.founder__item:first-child {
  text-align: right;

  .founder__box-img {
    order: -1;
  }

  .founder__info-subtitle {
    margin-left: auto;
  }

  .founder__info-text {
    text-align: left;
  }

  .founder__info-link {
    margin-right: 0;
    margin-left: auto;
  }
}

.about-video__link {
  position: relative;
  height: 315px;
  display: block;
  border-radius: $radius;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    background-image: url('../images/sprite.svg#play-icon');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 134px 108px;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &:focus {
    outline: none;

    &::before {
      opacity: 0.5;
    }
  }
}

.about-video__img {
  width: 100%;
  height: 100%;
  border-radius: $radius;
  object-fit: cover;
}

.about__more {
  margin-top: 100px;
}

.about__more-title {
  font-weight: 400;
}

.about__more-inner {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.about__more-item {
  position: relative;
  padding: 221px 70px 40px;
  min-height: 350px;
  flex-basis: 360px;
  text-align: center;
}

.about__more-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius;
  z-index: -1;
}

.about__more-text {
  font-size: $font-box;
  line-height: 1.217;
}
.about__more-link {
  color: $link;
  text-decoration: none;
  transition: $transition-link;
}
/*********** /about **********/

/*********** courses **********/
.courses-best__inner {
  display: flex;
  justify-content: space-between;
  gap: 44px;
}

.courses-best__item {
  padding: 20px 30px 24px;
  flex-basis: 50%;
  background-color: $bg-light;
  border-radius: $radius;
}
.courses-best__content {
  position: relative;
  padding-right: 130px;
}

.courses-best__title {
  margin: 20px 0 12px;
}

.courses-best__img {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.courses-best__link {
  margin-left: 10px;
}

.courses-favorite,
.courses-shop {
  margin-top: 50px;
}

.courses-favorite__title,
.courses-shop__title {
  margin-bottom: 40px;
}

.courses-shop {
  .filter-tags__form {
    margin-bottom: 50px;
  }
}

/*********** /courses **********/

/*********** teachers **********/

.team {
  margin-bottom: 100px;
}

.team__item {
  position: relative;
  padding: 42px 20px;
}

.team__item-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;

  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('../images/sprite.svg#question-icon');
    @include svg-icon;
    transition: $transition-btn;
  }
}

.team__item-box-img {
  min-height: 283px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__item-img {
  display: block;
  margin: -42px auto 0;
}

.team__item-title {
  margin: 0 0 10px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: $font-box;
  line-height: 1.125;
}

.team__item-text {
  margin: 0;
}
/*********** /teachers **********/

/*********** reviews **********/
.reviews-survey {
  margin-bottom: 50px;
}

.reviews-survey__title,
.reviews-survey__filter {
  margin-bottom: 40px;
}

.reviews-survey__slider {
  margin-bottom: 60px;
}

.reviews-survey__slide {
  box-sizing: border-box;
  padding: 30px 30px 45px;
  min-height: 390px;
  display: flex;
  flex-direction: column;
  background-color: $bg-light;
  border-radius: $radius;
}

.reviews-survey__author {
  margin-bottom: 20px;
  display: block;
  font-size: 2.4rem;
  line-height: 1.167;
}

.reviews-survey__blockquote {
  margin: 0 0 29px;

  p {
    margin: 10px;
  }
}

.reviews-survey__slide-link {
  margin-top: auto;
  color: inherit;
  transition: $transition-btn;
}

.reviews-survey__btn-prev,
.reviews-survey__btn-next {
  top: -90px;
}

.reviews-survey__btn-wrapper {
  text-align: center;
}

.reviews-survey__popup-title {
  padding-right: 30px;
  span {
    margin-top: 10px;
    display: block;
    font-weight: 500;
    font-size: $font-box;
  }
}

.reviews-survey__text-wrapper p {
  margin: 0;
  margin-top: 10px;
}
/*********** /reviews **********/

body._pc {
  .offer__item:hover {
    color: $text-light;
    background-color: $bg-dark;
  }

  .tarif__btn:hover {
    background-color: transparent;
    color: $text-light;
  }

  .reviews__form-btn:hover {
    color: $text-light;
    background-color: $accent-dark;
  }

  .reviews__form-btn-wrapper .reviews__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .about-video__link:hover:before {
    opacity: 0.5;
  }

  .about__more-link:hover {
    color: $accent-light;
  }

  .team__item-btn:hover {
    &::before {
      background-image: url('../images/sprite.svg#question-icon-hover');
    }
  }

  .reviews-survey__slide-link:hover {
    color: $accent-light;
    text-decoration: none;
  }
}

@import 'media';
