.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg;
  box-shadow: $header-shadow;
  opacity: 1;
  transition: transform 0.4s, opacity 0.4s, position 0.4s;
  z-index: 10;

  &--out {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.header__inner {
  min-height: 80px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.4rem;
  line-height: 1.143;
}

.header__logo {
  display: inline-block;
  width: 70px;
  height: 60px;
  margin: 0;
  flex-shrink: 0;
}
.header__logo-img {
  display: block;
  width: 100%;
  height: auto;
}

.burger-btn {
  display: none;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  transition: transform 0.4s;
}

.menu__link {
  display: inline-block;
  padding: 7px 10px;
  color: inherit;
  font-weight: 400;
  text-decoration: none;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  transition: $transition-link;
  caret-color: transparent;

  &:focus {
    background-color: $menu-hover;
    outline: none;
  }
  &--active {
    background-color: $menu-hover;
    outline: none;
  }
}

.menu__link.menu__btn {
  position: relative;
  padding-right: 27px;
  text-align: left;
  cursor: pointer;
  &::after {
    content: '';
    position: absolute;
    top: 12px;
    right: 7px;
    width: 12px;
    height: 8px;
    background-image: url('../images/sprite.svg#chevron-down');
    background-repeat: no-repeat;
    transform-origin: center;
  }
}

.menu > li {
  position: relative;
  margin-left: 15px;
  padding: 10px 0; /* для создания мостика у подменю */
}

.menu__sub {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 150px;
  padding: 15px;
  list-style: none;
  background-color: $bg;
  border-radius: 10px;
  box-shadow: $header-shadow;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  pointer-events: none;
  z-index: 9;
}

.menu__sub li + li {
  margin: 5px 0 0 0;
}

.menu__sub .menu__link {
  width: 100%;
  white-space: nowrap;
}

.menu > li:focus-within > .menu__sub {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
  pointer-events: all;
}

.user-menu {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
}

.user-menu__form {
  position: relative;
  width: 42px;
  height: 3rem;
  margin: 0;
  margin-left: 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
  border-radius: 10px;
  transition: all 0.5s ease;

  &--active {
    border: 1px solid $text;
    width: 200px;
    box-shadow: $search_shadow;
  }
}

.user-menu__form-input,
.user-menu__form-btn {
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: inherit;
}

.user-menu__form-input {
  margin: 0;
  width: 0%;
  padding: 0;
  transition: all 0.5s ease;

  &:focus {
    outline: none;
  }
}

.user-menu__form--active .user-menu__form-input {
  width: 100%;
  padding: 0 50px 0 17px;
}

.user-menu__form-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 42px;
  cursor: pointer;

  &::before {
    content: '';
    width: 18px;
    height: 18px;
    margin: 0 auto;
    display: block;
    background-image: url('../images/sprite.svg#search-icon');
    background-position: center;
  }
}

.user-menu__btn {
  position: relative;
  height: 3rem;
  margin-left: 20px;
  display: flex;
  align-items: end;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    transition: all 0.3s ease;
  }
}

.user-menu__btn--sign::before {
  background-image: url('../images/sprite.svg#sign-in');
}
.user-menu__btn--profile::before {
  background-image: url('../images/sprite.svg#user-icon');
}
.user-menu__btn--cart::before {
  background-image: url('../images/sprite.svg#cart-icon');
}

.user-menu__btn-num {
  position: absolute;
  padding: 0 8px;
  top: -8px;
  right: -8px;
  font-size: 1.2rem;
  line-height: 1.3rem;
  font-weight: 500;
  color: $text-light;
  background-color: $bg-cart;
  border-radius: 8px;
}

body._pc {
  .menu li:hover > .menu__link {
    background-color: $menu-hover;
  }

  .menu > li:hover .menu__sub {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    pointer-events: all;
  }

  .menu li:hover > .menu__btn:not(disabled) {
    background-color: transparent;
    cursor: auto;
  }

  .user-menu__btn:hover {
    color: $accent-light;
  }

  .user-menu__btn--sign:hover::before {
    background-image: url('../images/sprite.svg#sign-in-hover');
  }

  .user-menu__btn--profile:hover::before {
    background-image: url('../images/sprite.svg#user-icon-hover');
  }

  .user-menu__btn--cart:hover::before {
    background-image: url('../images/sprite.svg#cart-icon-hover');
  }
}

@media (max-width: 1024px) {
  .header__inner {
    display: block;
  }

  .nav {
    margin-bottom: 20px;
    justify-content: space-between;
  }

  .nav-btn {
    margin-left: 0;
    margin-right: auto;
  }

  .user-menu {
    margin-bottom: 10px;
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .nav {
    position: relative;
  }

  .burger-btn {
    display: inline-block;
  }

  .menu {
    position: absolute;
    top: 120px;
    right: 0;
    padding: 15px;
    min-width: 50%;
    display: block;
    background-color: $bg;
    box-shadow: $header-shadow;

    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: 0.3s linear;
    visibility: hidden;
    z-index: 9;
  }

  .menu--active {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
    pointer-events: all;
  }

  .menu > li,
  .menu__sub > li {
    margin: 0;
    margin-top: 15px;
    padding: 0;
  }

  .menu__link {
    width: 100%;
    padding: 10px;
  }

  .menu .menu__item--sub {
    padding: 0;
  }

  .menu__link.menu__btn {
    background-color: transparent;
    &::after {
      display: none;
    }
  }

  .menu__sub {
    position: static;
    margin: 0 0 0 15px;
    padding: 0;
    transform: none;
    visibility: visible;
    box-shadow: none;
  }
}

@media (max-width: 568px) {
  .menu {
    min-width: 100%;
  }
  .user-menu__form {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
    order: 5;
  }
  .user-menu__form {
    border: 1px solid $text;
    box-shadow: $search_shadow;
    .user-menu__form-input {
      width: 100%;
      padding: 0 50px 0 17px;
    }
  }
}

/*
.menu {
  transform: translateY(-200%);
}

.menu--active {
  transform: translateX(0);
}









@media (max-width: 1024px) {



}

@media (max-width: 768px) {
  .nav {
    position: relative;
  }


  .menu__sub {
    position: static;
    transform: none;
    visibility: visible;
    box-shadow: none;
  }
}
*/
