.team-popup {
  padding: 0;
}

.team-popup__wrapper {
  display: flex;
  min-height: calc(100vh - 12px);
}

.team-popup__content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.15;
  background-color: $bg;
}

.team-popup__title {
  margin: 0 0 10px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.125;
}


.team-popup__subtitle {
  margin: 0 0 30px;
  color: $text-blockquote;
}

.team-popup__text {
  margin: 0 0 50px;
}
.team-popup__blockquote {
  position: relative;
  margin: 0;
  padding-left: 126px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 96px;
    height: 96px;
    display: block;
    background-image: url('../images/sprite.svg#quote-icon');
    @include svg-icon;
  }
}

.team-popup__blockquote-text {
  margin: 0;
  color: $text-blockquote;
}

.team-popup__box-img {
  padding: 60px;
  min-width: 45.345%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-popup-img {
  max-width: 100%;
  height: auto;
  flex: 1 1 auto;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .team-popup__content {
    font-size: 1.6rem;
  }

  .team-popup__subtitle {
    margin-bottom: 24px;
  }

  .team-popup__title {
    font-size: 3.6rem;
  }

  .team-popup__text {
    margin-bottom: 40px;
  }
}

@media (max-width: 864px) {
  .team-popup__wrapper {
    flex-direction: column;
  }

  .team-popup__box-img {
    order: -1;
  }

  .team-popup__blockquote::before {
    top: -15px;
  }

  .team-popup__box-img {
    min-width: auto;
    min-height: 45vw;
  }
}

@media (max-width: 568px) {
  .team-popup__content {
    padding: $padding-side-mobile;
  }

  .team-popup__title {
    font-size: 2.8rem;
  }

  .team-popup__text {
    margin-bottom: 70px;
  }

  .team-popup__blockquote {
    padding-left: 0;
  }

  .team-popup__blockquote::before {
    top: -55px;
    left: -8px;
    width: 60px;
    height: 60px;
  }

  .team-popup__box-img {
    padding: 60px $padding-side-mobile $padding-side-mobile;
    min-height: 45vh;
  }

}