{% set title = "О нас" %}
{% set pageSlug  = "about" %}

{% extends "app/njk/layout/default.njk" %}
{% block content %}
  <section class="banner"> <!-- banner -->
    <div class="container">
      <h1 class="page-title">Слоны и Дети</h1>
      <div class="banner__inner">
        <div class="statistics">
          <div class="statistics__item">
            <strong class="statistics__num">20</strong>
            <span class="statistics__text">
              факт о школе 1
            </span>
          </div>
          <div class="statistics__item">
            <strong class="statistics__num">20</strong>
            <span class="statistics__text">
              факт о школе 2
            </span>
          </div>
          <div class="statistics__item">
            <strong class="statistics__num">20</strong>
            <span class="statistics__text">
              факт о школе 3
            </span>
          </div>
          <div class="statistics__item">
            <strong class="statistics__num">20</strong>
            <span class="statistics__text">
              факт о школе 4
            </span>
          </div>
        </div>
					<div class="banner__box-img">
						<picture>
							<source srcset="images/about-banner.avif" type="image/avif">
                <source srcset="images/about-banner.webp" type="image/webp">
							<img class="banner__img" src="images/about-banner.jpg" alt="">
						</picture>
					</div>
      </div>
    </div>
  </section> <!-- /banner -->
  <section class="section founder"> <!-- founder -->
    <div class="container">
      <h2 class="title">
        Основатели школы
      </h2>
      <div class="founder__inner">
        <div class="founder__item">
          <div class="founder__info">
            <h3 class="founder__info-title">
              Юлия Лебедева
            </h3>
            <span class="founder__info-subtitle">
              Короткая информация о человеке
            </span>
            <div class="founder__info-text">
              <p>
                Lorem ipsum dolor sit amet consectetur. Semper ipsum et ante pharetra viverra mi pharetra. Etiam id nulla donec auctor id duis vestibulum erat. Dolor venenatis cursus consequat sapien pharetra turpis. Elementum sed pellentesque facilisi ut. Eget viverra tristique nulla proin vitae. Odio morbi cursus tellus augue etiam quis morbi quam. Porttitor in at vestibulum lacus. Aliquet in risus nibh aliquam nisl. At mollis sit non ac sodales vel porta aliquam. Enim velit dui ultrices nec.
              </p>
              <p>
                At lorem dictum et a at adipiscing. Urna integer vitae lacus nisi nec proin duis aliquam. Enim vitae ac.
              </p>
            </div>
            <a class="box-link founder__info-link" href="#">
              Узнать больше
            </a>
          </div>
          <div class="founder__box-img">
            <picture>
              <source srcset="images/founder-1.avif" type="image/avif">
                <source srcset="images/founder-1.webp" type="image/webp">
              <img class="founder__img" src="images/founder-1.jpg" alt="">
            </picture>
          </div>
        </div>
        <div class="founder__item">
          <div class="founder__info">
            <h3 class="founder__info-title">
              Наталья Шамова
            </h3>
            <span class="founder__info-subtitle">
              Короткая информация о человеке
            </span>
            <div class="founder__info-text">
              <p>
                Lorem ipsum dolor sit amet consectetur. Semper ipsum et ante pharetra viverra mi pharetra. Etiam id nulla donec auctor id duis vestibulum erat. Dolor venenatis cursus consequat sapien pharetra turpis. Elementum sed pellentesque facilisi ut. Eget viverra tristique nulla proin vitae. Odio morbi cursus tellus augue etiam quis morbi quam. Porttitor in at vestibulum lacus. Aliquet in risus nibh aliquam nisl. At mollis sit non ac sodales vel porta aliquam. Enim velit dui ultrices nec.
              </p>
              <p>
                At lorem dictum et a at adipiscing. Urna integer vitae lacus nisi nec proin duis aliquam. Enim vitae ac.
              </p>
            </div>
            <a class="box-link founder__info-link" href="#">
              Узнать больше
            </a>
          </div>
          <div class="founder__box-img">
            <picture>
              <source srcset="images/founder-2.avif" type="image/avif">
                <source srcset="images/founder-2.webp" type="image/webp">
              <img class="founder__img" src="images/founder-2.jpg" alt="">
            </picture>
          </div>
        </div>
      </div>
    </div>
  </section> <!-- /founder -->
  <section class="section about-video">
    <div class="container">
      <h2 class="title slider__title">
        Наши выступления
      </h2>
      <div class="slider__box">
        <div class="swiper about-video__slider">
          <div class="swiper-wrapper">

            <div class="swiper-slide about-video__slide">
              <a class="about-video__link" href="https://youtu.be/KdZXyT6WZDY?si=iPIMXmxxTqUKfLYf" data-fancybox>
                <span class="visually-hidden">Урок 1</span>
                <picture>
							    <source srcset="images/about-video-1.avif" type="image/avif">
                  <source srcset="images/about-video-1.webp" type="image/webp">
							    <img class="about-video__img" src="images/about-video-1.jpg" alt="">
						  </picture>
              </a>
            </div>
            <div class="swiper-slide about-video__slide">
              <a class="about-video__link" href="https://youtu.be/KdZXyT6WZDY?si=iPIMXmxxTqUKfLYf" data-fancybox>
                <span class="visually-hidden">Урок 2</span>
                <picture>
							    <source srcset="images/about-video-1.avif" type="image/avif">
                  <source srcset="images/about-video-1.webp" type="image/webp">
							    <img class="about-video__img" src="images/about-video-1.jpg" alt="">
						  </picture>
              </a>
            </div>
            <div class="swiper-slide about-video__slide">
              <a class="about-video__link" href="https://youtu.be/KdZXyT6WZDY?si=iPIMXmxxTqUKfLYf" data-fancybox>
                <span class="visually-hidden">Урок 3</span>
                <picture>
							    <source srcset="images/about-video-1.avif" type="image/avif">
                  <source srcset="images/about-video-1.webp" type="image/webp">
							    <img class="about-video__img" src="images/about-video-1.jpg" alt="">
						  </picture>
              </a>
            </div>
          </div>
        </div>
        <button class="swiper-button-prev slider__btn-prev"></button>
  			<button class="swiper-button-next slider__btn-next"></button>
      </div>
    </div>
  </section>

{% endblock %}
{% block scripts %}
	<script src="js/main.min.js"></script>
{% endblock %}