{% set title = "Слоны и дети" %}
{% set pageName = "Home" %}
{% set pageSlug  = "about" %}

{% extends "app/njk/layout/default.njk" %}

{% block content %}
	<div class="container">
sdfds zsz
	</div>
{% endblock %}

{% block scripts %}
	<script src="js/main.min.js"></script>
{% endblock %}