{% set title = "Слоны и дети" %}
{% set pageSlug  = "home" %}

{% extends "app/njk/layout/default.njk" %}

{% block content %}
		<section class="preview"> <!-- preview -->
			<div class="container">
				<div class="preview__inner">
					<div class="preview__content">
						<h1 class="page-title preview__title">
							Онлайн-школа<br>Слоны и Дети
						</h1>
						<p class="box-text preview__text">
							Изучайте русский язык в самой удобном вам формате: в группах или индивидуально.<br> Первое занятие бесплатно
						</p>
						<div class="form-btn-wrapper preview__form-btn-wrapper">
							<button class="form-btn" type="button">
								<span class="form-btn__text">
								Записаться
								</span>
								<span class="form-btn__icon"></span>
							</button>
							<span class="form-btn-wrapper__text preview__btn__text">
								Пройдите тест с вашим ребёнком, чтобы подобрать занятия, которые ему точно понравятся
							</span>
						</div>
					</div>
					<div class="preview__box-img">
						<picture>
							<source srcset="images/preview-img.avif" type="image/avif">
                <source srcset="images/preview-img.webp" type="image/webp">
							<img class="preview__img" src="images/preview-img.jpg" alt="">
						</picture>
					</div>
				</div>
			</div>
		</section> <!-- /preview -->
		<section class="section offer"> <!-- offer -->
			<div class="container">
				<h2 class="title">
					Что мы предлагаем
				</h2>
				<ul class="offer-list">
					<li class="offer__item offer__item-main">
						<h3 class="offer__title">
							Все наши курсы и материалы
						</h3>
						<p class="box-text offer__text">
							Курсы и материалы для детей и  родителей
						</p>
						<a class="offer__link" href="#">
						</a>
					</li>
					<li class="offer__item">
						<h3 class="offer__title">
							Русский как иностранный
						</h3>
						<p class="offer__text">
							Авторские методики, упор на развитие речи, социализация со сверстниками на родном языке
						</p>
						<a class="offer__link" href="#">
						</a>
					</li>
					<li class="offer__item">
						<h3 class="offer__title">
							Русский как родной
						</h3>
						<p class="offer__text">
							Углубление в материал учебных заведений России с фокусом на грамматику и подготовку к экзаменам
						</p>
						<a class="offer__link" href="#">
						</a>
					</li>
			</ul>
		</section><!-- /offer -->
		<section class="section info"> <!-- info -->
			<div class="container">
				<h2 class="title">
					Как это работает
				</h2>
				<ul class="info__list">
					<li class="info__item">
						<picture>
							<source srcset="images/info/info1.avif" type="image/avif">
              <source srcset="images/info/info1.webp" type="image/webp">
							<img class="info__img" src="images/info/info1.jpg" alt="">
						</picture>
						<p class="info__text">
							Уроки в мини-группах по 7 человек, что позволит уделять достаточно внимания каждому ребёнку
						</p>
					</li>
					<li class="info__item">
						<picture>
							<source srcset="images/info/info1.avif" type="image/avif">
              <source srcset="images/info/info1.webp" type="image/webp">
							<img class="info__img" src="images/info/info1.jpg" alt="">
						</picture>
						<p class="info__text">
							Баланс между интерактивными упражнениями и живым диалогом
						</p>
					</li>
					<li class="info__item">
						<picture>
							<source srcset="images/info/info1.avif" type="image/avif">
              <source srcset="images/info/info1.webp" type="image/webp">
							<img class="info__img" src="images/info/info1.jpg" alt="">
						</picture>
						<p class="info__text">
							Много общения между детьми и работа с мотивацией каждого ученика
						</p>
					</li>
					<li class="info__item">
						<picture>
							<source srcset="images/info/info1.avif" type="image/avif">
              <source srcset="images/info/info1.webp" type="image/webp">
							<img class="info__img" src="images/info/info1.jpg" alt="">
						</picture>
						<p class="info__text">
							Работа по программам, которые адаптированы для детей, живущих в другой языковой среде
						</p>
					</li>
				</ul>
			</div>
		</section><!-- /info -->
		{% from "app/module/_contact-form/contact-form-macro.njk" import contact_form %}
		{{ contact_form(
			"form-trial",
			"",
			"form-trial",
			"Приходите на пробное занятие",
			"Вместе с вами и вашим ребёнком разработаем стратегию обучения и подберём подходящую программу")
		}}
	<section class="section home-about"> <!-- home-about -->
		<div class="container">
			<div class="home-about__inner">
				<div class="home-about__content">
					<h2 class="title home-about__title">
						Что такое<br>Слоны и Дети
					</h2>
					<p class="box-text home-about__text">
						Lorem ipsum dolor sit amet consectetur. Lobortis morbi maecenas mauris mi sapien quis dictumst. Egestas quis consectetur tellus ipsum mattis. Et pellentesque duis libero vitae risus id augue tellus. Odio diam aliquam ut mattis elementum. Congue dignissim eget et aenean. Odio convallis vitae.
					</p>
					<a class="box-link home-about__link" href="#">
						Узнать больше
					</a>
				</div>
			<div class="home-about__box-img">
				<picture>
						<source srcset="images/preview-img.avif" type="image/avif">
            <source srcset="images/preview-img.webp" type="image/webp">
						<img class="home-about__img" src="images/preview-img.jpg" alt="">
				</picture>
			</div>
		</div>
		</div>
	</section> <!-- /home-about -->
{% endblock %}
{% block scripts %}
	<script src="js/main.min.js"></script>
{% endblock %}