{% set title = "Слоны и дети" %}
{% set pageSlug  = "home" %}

{% extends "app/njk/layout/default.njk" %}

{% block content %}
<!--
		<section class="banner"> --> <!-- banner -->
<!--			<div class="banner__inner">
				<h1 class="page-title banner__title">
					Онлайн-школа<br>Слоны и Дети
				</h1>
				<p class="banner__text">
					Изучайте русский язык в самой удобном вам формате: в группах или индивидуально.<br> Первое занятие бесплатно
				</p>
				<div class="form-btn-wrapper">
					<button class="form-btn">
							<span class="form-btn__text">
								Записаться
							</span>
							<span class="form-btn__icon"></span>
					</button>
					<span class="form-btn-wrapper__text banner__btn__text">
						Пройдите тест с вашим ребёнком, чтобы подобрать занятия, которые ему точно понравятся
					</span>
				</div>
			</div>
			<div class="banner__box-img">
			<picture>
				<img class="banner__img" src="images/foto1.jpg" alt="">
			</picture>
			</div>
		</section>--> <!-- /banner -->
{% endblock %}

{% block scripts %}
	<script src="js/main.min.js"></script>
{% endblock %}