{% set title = "Учителя" %}
{% set pageSlug  = "product" %}
{% set parentPage = "courses" %}
{% set parentPageName = "Название курса или материала" %}

{% extends "app/njk/layout/default.njk" %}
{% block content %}

{% endblock %}
{% block scripts %}
	<script src="js/main.min.js"></script>
{% endblock %}